@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@-webkit-keyframes shake {
  0% {
    transform:scale(1) {
    }
  }
  10%, 20% {
    -webkit-transform: scale(0.99) rotate(-1deg);
    transform: scale(0.99) rotate(-1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.01) rotate(1deg);
    transform: scale(1.01) rotate(1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.01) rotate(-1deg);
    transform: scale(1.01) rotate(-1deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes shake {
  0% {
    transform:scale(1) {
    }
  }
  10%, 20% {
    -webkit-transform: scale(0.99) rotate(-1deg);
    transform: scale(0.99) rotate(-1deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.01) rotate(1deg);
    transform: scale(1.01) rotate(1deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.01) rotate(-1deg);
    transform: scale(1.01) rotate(-1deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: GothamPro;
  margin: 0;
  padding: 0;
  min-width: 1170px;
  background-color: #e9e9e9;
  -webkit-box-shadow: 0 0 14.4px 3.6px rgba(0, 0, 0, 0.31);
  box-shadow: 0 0 14.4px 3.6px rgba(0, 0, 0, 0.31);
}

.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  padding-top: 66px;
}

.header:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1080px;
  background: url("../img/header__image.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu {
  width: 200px;
}

.header__phone {
  width: 200px;
  text-align: right;
  padding-top: 6px;
}

.header__phone-link {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
}

.header__phone-link:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 1px;
  background: #FFF;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__phone-link:hover::before {
  width: 100%;
}

.menu {
  position: relative;
}

.menu__button {
  width: 66px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: -15px;
  top: -10px;
}

.menu__button-item {
  width: 33px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 4px;
  background-color: #412357;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu__button-item--center {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.menu__button:hover .menu__button-item--center {
  width: 0;
}

.menu__button:hover .menu__button-item--first {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: relative;
  top: 10px;
}

.menu__button:hover .menu__button-item--last {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: relative;
  bottom: 10px;
}

.menu__ul {
  position: absolute;
  top: 43px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
}

.menu__link::before {
  content: '';
  background-color: #412357;
  position: absolute;
  left: -7px;
  right: -8px;
  top: 5px;
  bottom: 5px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.menu__link:hover::before {
  opacity: 1;
}

.main-title {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 95px;
}

.main-title span {
  display: inline-block;
}

.first {
  margin-top: 255px;
}

.first__form {
  margin-top: 210px;
}

.form__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.form__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form__item {
  width: 170px;
  height: 37px;
  background-color: white;
  border-radius: 19px;
  padding: 0 10px;
  margin: 0;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.form__item::-webkit-input-placeholder {
  color: #a5a5a5;
}

.form__item::-moz-placeholder {
  color: #a5a5a5;
}

.form__item:-moz-placeholder {
  color: #a5a5a5;
}

.form__item:-ms-input-placeholder {
  color: #a5a5a5;
}

.form__item:active {
  border-radius: 19px;
}

.form__submit {
  background-color: #b11424;
  -webkit-appearance: none;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.form__submit:hover {
  opacity: .8;
}

.form__checkbox {
  margin-top: 15px;
}

.form__label {
  color: #a5a5a5;
}

.languages {
  margin-top: 95px;
}

.languages__wrapper {
  border-radius: 10px;
  background: #FFF;
  padding-top: 58px;
  padding-bottom: 63px;
}

.languages__title {
  color: #412b53;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.languages__item {
  width: 170px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  padding-top: 85px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.languages__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.languages__item:hover::before {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.languages__item::before {
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
}

.languages__item--eng::before {
  background: url("../img/en.png") center no-repeat;
}

.languages__item--fr::before {
  background: url("../img/fr.png") center no-repeat;
}

.languages__item--it::before {
  background: url("../img/it.png") center no-repeat;
}

.languages__item--ch::before {
  background: url("../img/ch.png") center no-repeat;
}

.languages__item--de::before {
  background: url("../img/de.png") center no-repeat;
}

.languages__subtext {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-top: 77px;
}

.services {
  margin-top: 50px;
}

.services__title {
  color: #412b53;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.services__list {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.services__list:hover::before {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.services__list:before {
  content: '';
  width: 115px;
  height: 115px;
  position: absolute;
  left: 50%;
  top: 2px;
  margin-left: -57.5px;
  background: url(../img/globe.png) center no-repeat;
}

.services__list-column {
  width: 330px;
}

.services__list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services__list-item {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
  padding-left: 42px;
  position: relative;
}

.services__list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #852a4c;
  border-radius: 100%;
}

.services__info {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 70px;
}

.services__info-item {
  width: 330px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.services__info-item--three, .services__info-item--six {
  width: 300px;
}

.services__info-item:before {
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.services__info-item--one:before {
  background: url(../img/icon-1.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-1.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-1.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__info-item--two:before {
  background: url(../img/icon-2.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-2.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-2.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__info-item--three:before {
  background: url(../img/icon-3.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-3.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-3.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__info-item--four:before {
  background: url(../img/icon-4.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-4.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-4.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__info-item--five:before {
  background: url(../img/icon-5.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-5.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-5.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__info-item--six:before {
  background: url(../img/icon-6.png) center no-repeat, -webkit-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-6.png) center no-repeat, -o-linear-gradient(326deg, #a12d47 0%, #20205c 100%);
  background: url(../img/icon-6.png) center no-repeat, linear-gradient(124deg, #a12d47 0%, #20205c 100%);
}

.services__form {
  width: 1030px;
  height: 185px;
  border: 1px dashed #912b4a;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__title--services {
  color: black;
}

.form__submit--services {
  background-color: #412357;
}

.about {
  margin-top: 50px;
  position: relative;
  padding-top: 86px;
}

.about:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 876px;
  background: url("../img/about-bg.jpg") center no-repeat;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 68px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__item-counter {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  width: 34px;
  height: 34px;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100%;
  display: block;
  margin-right: 5px;
  text-align: center;
}

.about__item-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.about__form {
  margin-top: 133px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__wrapper {
  font-weight: 400;
  display: inline-block;
  background: #fff;
  margin: 0 auto;
  padding: 40px 40px 20px;
  border-radius: 5px;
  position: relative;
}

.modal__wrapper-close {
  font-size: 42px;
  line-height: 26px;
  font-weight: 300;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  right: 12px;
  top: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.modal__wrapper-close:hover {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.modal__title {
  line-height: 48px;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  color: #000;
}

.modal__back {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #000;
  margin: 30px auto 10px;
  display: inline-block;
  cursor: pointer;
}

.modal__back:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */